<!DOCTYPE html>
<html>
    <head>
        <title>{{titile}}</title>
        <link rel="icon" href="./img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by HarpreetWP. It fetch data from Mapbox and WeatherStack API's.</p>
            <img class="potrait" src="/img/me.png">
        </div>
        {{>footer}}
    </body>
</html>